<main class="ToDo">
  <section class="list">
    <h1>TODO List</h1>
    <p>A place to store your orders</p>
    <form>
      <input type="text" placeholder="Filter your to-dos" />
    </form>
    <ol>
      <li *ngFor="let todo of todoArr; index as i">
        <div class="task">
          <button class="color" *ngIf="todo.completed">
            Complete
          </button>
          <p class="container" [ngClass]="{ completed: todo.completed }">
            {{ todo.task }}
          </p>
          <button><i class="fas fa-times"></i></button>
        </div>
      </li>
      <!-- <li>put clothes in dresser</li>
  <li>relax</li>
  <li>pet dog</li>
  <li>Be awesome</li>
  <li>Going on a walk</li> -->
    </ol>
    <form>
      <input type="text" placeholder="Add your to-do" />
    </form>
    <button class="roniya">Add</button>
  </section>
</main>
